<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required Meta Tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Title of Document (Tab) -->
  <title>Craft-A-Crawl</title>

  <!-- Materialize, Fontawesome, and personal CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../public/styles/styles.css">

  <!-- Link for Google Fonts -->
  <link rel="stylesheet" href="https://font.googleapis.com/css?family=">

</head>

<body>
  <nav id="navbar" class="z-depth-0">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo blue-text text-lighten-1">Craft-A-Crawl</a>
      <ul id="nav-mobile" class="right">
        <li><a class="blue-text text-lighten-1" href="index.html">HOME</a></li>
        <li><a class="blue-text text-lighten-1" href="#">NEIGHBORHOODS</a></li>
        <li><a class="blue-text text-lighten-1" href="#">SUBMIT A BAR</a></li>
        <li><a id="loginBtn" class="btn blue-text text-lighten-1 waves-effect waves-custom waves-ripple">Login</a></li>
      </ul>
    </div>
  </nav>




  <!-- Javascript/jQuery links -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="../public/js/index.js"></script>
</body>

</html>