<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Craft-A-Crawl</title>

  <!-- Links for Bulma, Fontawesome and my custom CSS respectively -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
        integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">

  <!-- Added Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=">

</head>
<body>
<nav class="navbar p-b-md p-t-md" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <a href="/" class="navbarLinks is-size-5">HOME</a>
      </div>
      <div class="navbar-item">
        <a href="/submit" class="navbarLinks m-r-xl is-size-5">SUBMIT A BAR</a>
      </div>
      <div class="buttons m-r-md">
        <a href="/login" id="loginBtn" class="button navbarLinks is-size-6">&nbsp;&nbsp; Login &nbsp;&nbsp;</a>
      </div>
    </div>
  </div>
</nav>

<div class="m-b-lg m-t-xl columns is-centered">
  <div class="column is-half has-text-centered">
    <p id="regTitle" class="has-text-weight-semibold">Create a Crawl</p>
  </div>
</div>
<div class="columns is-centered">
  <div class="column is-one-quarter has-text-centered">
    <form>

        <label for="neighborhood" class="barNumber">Desired Neighborhood or Category</label>
        <div class="select is-info is-fullwidth is-rounded is-large m-t-md m-b-lg">
          <select class="has-text-info" name="bar1" id="neighborhood">
            <option value="">Select an option</option>
            <option value="">Neighborhood</option>
            <option value="noda">&nbsp;&nbsp;&nbsp;NoDa</option>
            <option value="plazamidwood">&nbsp;&nbsp;&nbsp;Plaza Midwood</option>
            <option value="dilworth">&nbsp;&nbsp;&nbsp;Dilworth</option>
            <option value="southend">&nbsp;&nbsp;&nbsp;Southend</option>
            <option value="uptownfirstward">&nbsp;&nbsp;&nbsp;Uptown, First Ward</option>
            <option value="uptownsecondward">&nbsp;&nbsp;&nbsp;Uptown, Second Ward</option>
            <option value="uptownthirdward">&nbsp;&nbsp;&nbsp;Uptown, Third Ward</option>
            <option value="uptownfourthward">&nbsp;&nbsp;&nbsp;Uptown, Fourth Ward</option>
            <option value="">Category</option>
            <option value="Neighborhood">&nbsp;&nbsp;&nbsp;Neighborhood bars</option>
            <option value="Cocktails">&nbsp;&nbsp;&nbsp;Cocktail bars</option>
            <option value="Club">&nbsp;&nbsp;&nbsp;Clubs</option>
            <option value="Brewery">&nbsp;&nbsp;&nbsp;Breweries</option>
          </select>
        </div>
      <a id="createCrawlBtn" class="button is-medium is-rounded is-outlined is-info m-t-lg">&nbsp;&nbsp; Submit &nbsp;&nbsp;</a>
    </form>
  </div>
</div>


<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8='
        crossorigin='anonymous'></script>
<script src="/js/index.js"></script>
<script src="/js/navbarJS.js"></script>
</body>
</html>