<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Bulma</title>

  <!-- Links for Bulma, Fontawesome and my custom CSS respectively -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
        integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../public/styles/styles.css">

  <!-- Added Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=">

</head>
<body>
<nav class="navbar p-b-md p-t-md" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <a href="/" class="navbarLinks is-size-5">HOME</a>
      </div>
      <div class="navbar-item">
        <a href="/submit" class="navbarLinks m-r-xl is-size-5">SUBMIT A BAR</a>
      </div>
      <div class="buttons m-r-md">
        <a id="loginBtn" class="button navbarLinks is-size-6">&nbsp;&nbsp; Login &nbsp;&nbsp;</a>
      </div>
    </div>
  </div>
</nav>

<div class="m-b-lg m-t-xl columns is-centered">
  <div class="column is-half has-text-centered">
    <p id="regTitle" class="has-text-weight-semibold">Create a Crawl</p>
  </div>
</div>
<div class="columns is-centered">
  <div class="column is-one-quarter has-text-centered">
    <form>

      <label for="neighborhood" class="neighborhood">Neighborhood</label>
      <div class="select is-info is-fullwidth is-rounded is-large m-t-md m-b-lg">
        <select class="has-text-info" name="neighborhood" id="neighborhood">
          <option value="error">Select an option</option>
          <option value="noda">NoDa</option>
        </select>
      </div>

      <label for="category" class="category">Category</label>
      <div class="select is-info is-fullwidth is-rounded is-large m-t-md m-b-lg">
        <select class="has-text-info" name="category" id="category">
          <option value="error">Select an option</option>
          <option value="cocktail">Cocktail</option>
        </select>
      </div>

      <label for="numberOf" class="numberOf">Number of bars?</label>
      <div class="select is-info is-fullwidth is-rounded is-large m-t-md m-b-lg">
        <select class="has-text-info" name="numberOf" id="numberOf">
          <option value="error">Select an option</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>

      <button class="button is-medium is-rounded is-outlined is-info m-t-lg">&nbsp;&nbsp;Submit&nbsp;&nbsp;</button>
    </form>
  </div>
</div>

<script src="../public/js/index.js"></script>
<script src="../public/js/navbarJS.js"></script>
</body>
</html>