<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Craft-A-Crawl</title>

  <!-- Links for Bulma, Fontawesome and my custom CSS respectively -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
        integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../public/styles/styles.css">

  <!-- Added Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=">

</head>
<body id="backdrop">
<nav class="navbar p-b-md p-t-md" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <a href="/" class="navbarLinks is-size-5">HOME</a>
      </div>
      <div class="navbar-item">
        <a href="/submit" class="navbarLinks m-r-xl is-size-5">SUBMIT A BAR</a>
      </div>
      <div class="buttons m-r-md">
        <a href="/signup" id="signupBtn" class="button navbarLinks is-size-6">&nbsp;&nbsp; Sign-up &nbsp;&nbsp;</a>
        <a href="/login" id="loginBtn" class="button navbarLinks is-size-6">&nbsp;&nbsp; Login &nbsp;&nbsp;</a>
      </div>
    </div>
  </div>
</nav>

<div id="titleContainer" class="columns is-centered">
  <div class="column is-one-quarter has-text-centered">
    <p id="homeTitle" class="has-text-weight-semibold">CRAFT A CRAWL</p>
    <p id="subTitle">Before you walk, plan your crawl.</p>
  </div>
</div>
<div class="columns is-centered">
  <div class="column is-three-quarters">
    <div class="columns">
      <div class="column is-half has-text-centered">
        <a href="/create" id="createCrawl" class="is-fullwidth crawlChoice">CREATE CRAWL<span class="plus">+</span></a>
      </div>
      <div class="column is-half has-text-centered">
        <a href="/join" id="joinCrawl" class="is-fullwidth crawlChoice">JOIN CRAWL<span class="plus">+</span></a>
      </div>
    </div>
  </div>
</div>

<script src="../public/js/index.js"></script>
<script src="../public/js/navbarJS.js"></script>
</body>
</html>
