<div class="columns">
  <div class="column has-text-centered">
    {{#each bars}}
      <div class="m-b-lg has-text-centered">
        <p class="handlebarName">{{name}}</p>
        <p class="handlebarAddress">Street Address: {{street}}</p>
        <p class="handlebarPhone">Phone Number: {{phone}}</p>
      </div>
    {{/each}}
  </div>
  <div id="mapDiv" class="column">

  </div>
</div>