<div class="columns m-t-xl">
  <div class="column has-text-centered handlebars">
    {{#each bars}}
    <div class="m-b-lg has-text-centered">
      <p class="handlebarName has-text-weight-semibold">{{name}}</p>
      <p class="handlebarBody">Street Address: {{street}}</p>
      <p class="handlebarBody">Phone Number: {{phone}}</p>
    </div>
    {{/each}}
  </div>
  <div id="mapDiv" class="column">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 600px;
        width: 700px;
      }

      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        background: rgb(24, 67, 76);
      }

      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto', 'sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style>
    </head>

    <body>
      <div id="map"></div>
      <script>
        function initMap() {
          var directionsService = new google.maps.DirectionsService;
          var directionsDisplay = new google.maps.DirectionsRenderer;
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {
              lat: 35.22,
              lng: -80.84
            }
          });
          directionsDisplay.setMap(map);
          var onLoadHandler = function () {
            calculateAndDisplayRoute(directionsService, directionsDisplay);
          };
          document.onLoad = onLoadHandler();
         // document.onLoad = onLoadHandler();
        }
        
        function calculateAndDisplayRoute(directionsService, directionsDisplay) {
          var waypoints = [];
          count = 0 
          {{#each bars}}
            count++
          waypoints.push({
            location: "{{street}}, Charlotte, NC",
            stopover: true,
          });
          {{/each}};  
          console.log(count) 
          var start = waypoints[0].location + ", charlotte, nc"
          var fin =  waypoints[waypoints.length-1].location + ", charlotte, nc"   
          waypoints.length = waypoints.length-1
          waypoints.shift(); 
          directionsService.route({
            origin: start,
            destination: fin,
            waypoints: waypoints,
            optimizeWaypoints: true,
            travelMode: "WALKING",
          }, function (response, status) {
            if (status === "OK") {
              directionsDisplay.setDirections(response);
            } else {
              window.alert('Directions request failed due to ' + status);
            }
          });
        }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDu0Qtc37kImb-6q2CGWi-T9DeM0s80ZIk&callback=initMap">
      </script>
    </body>

  </div>
</div>