<div class="columns m-t-xl">
  <div class="column has-text-centered">
    {{#each bars}}
      <div class="m-b-lg has-text-centered">
        <p class="handlebarName has-text-weight-semibold">{{name}}</p>
        <p class="handlebarBody">Street Address: {{street}}</p>
        <p class="handlebarBody">Phone Number: {{phone}}</p>
      </div>
    {{/each}}
  </div>
  <div id="mapDiv" class="column">

  </div>
</div>