<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
    <form id="signin" name="signin">
        <label for="email">Email Address</label>
        <input type="text" id="emailSignIn" />
        <label for="password">Password</label>
        <input type="password" id="pWordSignIn"/>
        <button class="btn" id="buttonSignIn">Sign In</button>
    </form>
 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/signin.js"></script>
</body>
 
</html>